@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Reset Tailwind's reset to restore browser defaults */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: bold;
  margin: 0.67em 0;
}

h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

ul, ol {
  display: block;
  list-style-type: disc;
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15px;
}

ol {
  list-style-type: decimal;
}

li {

}

p {
  margin: 0.25em 0;
}